2d_fea
computing_mechanics_project/ANSYS
computing_mechanics_project/cpp
computing_mechanics_project/python/__pycache__
holder_analysis
models
practice_3term
rotor_analysys/output
torsion_analysis
SMM_HW4

